$css-prefix = v

/* Colors
   ========================================================================== */
$primary-color          = #3399ff
$info-color             = #2db7f5
$success-color          = #00cc66
$warning-color          = #ff9900
$error-color            = #ff3300

/* Font Size
   ========================================================================== */
$font-size-xxl          = 20px
$font-size-xl           = 18px
$font-size-l            = 16px
$font-size-m            = 14px
$font-size-s            = 12px
$font-size-xs           = 10px

/* Font Family
   ========================================================================== */
$font-family            = "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif

/* Border Radius
   ========================================================================== */
$border-radius-base     = 6px
$border-radius-small    = 4px


/* Media Query
   ========================================================================== */
// Extra small screen / phone
$screen-xs              = 480px
$screen-xs-min          = $screen-xs
$screen-xs-max          = ($screen-xs-min - 1)

// Small screen / tablet
$screen-sm              = 768px
$screen-sm-min          = $screen-sm
$screen-sm-max          = ($screen-sm-min - 1)

// Medium screen / desktop
$screen-md              = 992px
$screen-md-min          = $screen-md
$screen-md-max          = ($screen-md-min - 1)

// Large screen / wide desktop
$screen-lg              = 1200px
$screen-lg-min          = $screen-lg
$screen-lg-max          = ($screen-lg-min - 1)


/* Animation
   ========================================================================== */
$transition-time        = .3s