@import "../../config.styl"

.{$css-prefix}-shadow-base
  box-shadow $shadow-base

.{$css-prefix}-shadow-card
  box-shadow $shadow-card

.{$css-prefix}-shadow-up
  box-shadow $shadow-up

.{$css-prefix}-shadow-down
  box-shadow $shadow-down

.{$css-prefix}-shadow-left
  box-shadow $shadow-left

.{$css-prefix}-shadow-right
  box-shadow $shadow-right


