@import "../../config.styl"

/* 基本颜色
   ========================================================================== */
.{$css-prefix}-primary
  color $primary-color
.{$css-prefix}-info
  color $info-color
.{$css-prefix}-success
  color $success-color
.{$css-prefix}-warning
  color $warning-color
.{$css-prefix}-error
  color $error-color

.{$css-prefix}-bg-primary
  background-color $primary-color
.{$css-prefix}-bg-info
  background-color $info-color
.{$css-prefix}-bg-success
  background-color $success-color
.{$css-prefix}-bg-warning
  background-color $warning-color
.{$css-prefix}-bg-error
  background-color $error-color


/* 灰度
   ========================================================================== */
$gray-color($grey-level) {
  color rgba(0, 0, 0, $grey-level)
}

$create-gray-color($grey-level) {
  if ($grey-level <= 100) {
    .{$css-prefix}-gray-{$grey-level} {
      color rgba(0,0,0,$grey-level/100)
    }
    .{$css-prefix}-bg-gray-{$grey-level} {
      background-color rgba(0,0,0,$grey-level/100)
    }
    $create-gray-color($grey-level + 5)
  }
}

$create-gray-color(0)

