/* 过渡
   ========================================================================== */
$transition($time) {
  transition all $time s
  -moz-transition all $time s /* Firefox 4 */
  -webkit-transition all $time s /* Safari 和 Chrome */
  -o-transition all $time s /* Opera */
}