@import "../../config.styl"

/* 2D旋转
   ========================================================================== */
$rotate($angle)
  transform rotate($angle deg)
  -ms-transform rotate($angle deg)
  -moz-transform rotate($angle deg)
  -webkit-transform rotate($angle deg)
  -o-transform rotate($angle deg)

.{$css-prefix}-rotate-reverse
  $rotate(180)

/* 2D偏移
   ========================================================================== */
$translate($x, $y)
  transform translate($x, $y)


/* 3D偏移
   ========================================================================== */
$translate3d($x, $y, $z)
  transform translate3d($x, $y, $z)

/* 2D缩放
   ========================================================================== */
$scale($x, $y)
  transform $scale($x, $y)


/* 3D缩放
   ========================================================================== */
$scale3d($x, $y, $z)
  transform $scale($x, $y, $z)