@import "../../config.styl"

/* 过渡
   ========================================================================== */
$transition($time) {
  if (!$time) {
    transition all ($transition-time)s
    -moz-transition all ($transition-time)s
    -webkit-transition all ($transition-time)s
    -o-transition all ($transition-time)s
  }
  else {
    transition all ($time)s
    -moz-transition all ($time)s
    -webkit-transition all ($time)s
    -o-transition all ($time)s
  }
}

