@import "../src/index.styl"

.rotate-90
  $rotate(90)



.single-line-center
  $single-line-center(44, 18)

.multi-line-center-container
  $multi-line-center-parent(300, 300)

.multi-line-center-text
  $multi-line-center-child()
  font-size 20px

.flex-container
  $flex-container()

.flex-fixed-child
  $flex-fixed-width(80)

.transition-5
  $transition(0.5)



