@import "../../config.styl"

/* 怪异盒模型与普通盒模型
   ========================================================================== */
.{$css-prefix}-content-box
  box-sizing content-box
  -moz-box-sizing content-box  /* Firefox */
  -webkit-box-sizing content-box  /* Safari */

.{$css-prefix}-border-box
  box-sizing border-box
  -moz-box-sizing border-box  /* Firefox */
  -webkit-box-sizing border-box  /* Safari */