/* 怪异盒模型与普通盒模型
   ========================================================================== */
.content-box
  box-sizing content-box
  -moz-box-sizing content-box  /* Firefox */
  -webkit-box-sizing content-box  /* Safari */

.border-box
  box-sizing border-box
  -moz-box-sizing border-box  /* Firefox */
  -webkit-box-sizing border-box  /* Safari */