/* 绝对水平垂直居中
   ========================================================================== */
$absolute-center()
  overflow hidden
  position absolute
  top 0
  left 0
  bottom 0
  right 0
  margin auto

/* 单行文字水平居中
 ========================================================================== */
$single-line-center($height, $fontSize)
  height $height px
  line-height $height px
  font-size $fontSize px

