@import "../../config.styl"

/* display
   ========================================================================== */
.{$css-prefix}-block
  display block

.{$css-prefix}-inline
  display inline

.{$css-prefix}-inline-block
  display inline-block