@import "../../config.styl"

/* flexbox
   ========================================================================== */
$flex-container()
  display flex

$flex-fixed-width($width)
  flex 0 0 ($width)px
  width $width px

$flex-dynamic-width($width)
  flex 1

$flex-auto()
  flex 0 0 auto