@import "../../config.styl"

/* 清除浮动
   ========================================================================== */
$clearfix()
  zoom 1
  &:after
   clear both
   content '.'
   display block
   width 0
   height 0
   visibility hidden

.{$css-prefix}-clearfix
  $clearfix()

$clearfix-another()
  overflow hidden

.{$css-prefix}-clearfix-another
  $clearfix()


/* 浮动定位
   ========================================================================== */
.{$css-prefix}-float-left
  float left

.{$css-prefix}-float-right
  float right