@import "../../config.styl"

/* 定位
   ========================================================================== */
.{$css-prefix}-pos-relative
  position relative

.{$css-prefix}-pos-absolute
  position absolute

.{$css-prefix}-pos-fixed
  position fixed