@import "../../config.styl"

@media (min-width: $screen-xs-min)
  .{$css-prefix}-text-xs
    font-size $font-size-s

@media (min-width: $screen-sm-min)
  .{$css-prefix}-text-sm
    font-size $font-size-m

@media (min-width: $screen-md-min)
  .{$css-prefix}-text-md
    font-size $font-size-l

@media (min-width: $screen-lg-min)
  .{$css-prefix}-text-lg
    font-size $font-size-xl

