
$media-xs($style) {
  @media (min-width: $screen-xs-min)
    $style
}

$media-sm($style) {
  @media (min-width: $screen-sm-min)
    $style
}

$media-md($style) {
  @media (min-width: $screen-md-min)
    $style
}

$media-lg($style) {
  @media (min-width: $screen-lg-min)
    $style
}
